.Cart{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 700rem;
    height: 80rem;
    background-color: #333;
    border-radius: 50px;
    bottom: 30rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;


}
.Icon{
    width: 80rem;
    position: absolute;
    bottom: -6rem;
}
.Icon img{
    width: 120%;
    height: 130rem;
    margin-left: -11rem;
    margin-bottom: -10rem;
    

}
.TotalAmount{
    position: absolute;
    width: 36rem;
    height: 36rem;
    line-height: 36rem;
    text-align: center;
    background-color: #f00;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 22rem;
    right: -10rem;
    top: 8rem;
   

}
.Price, .NoMeal{
    display: flex;
    align-items: center;
    margin-left: 120rem;
    color: #fff;
    font-weight: bold;
    font-size: 36rem;
}
.Price::before{
    content: '$';
    font-size: 24rem;
}
.NoMeal{
    color: #aaa;
}
.Button{
    border: none;
    background-color: #fcbf49;
    width: 200rem;
    border-radius: 50px;
    font-size: 30rem;
    font-weight: bold;
}
.Disabled{
    background-color: #777;
    color: #ccc;

}