.Meal{
    display:flex;
    align-items: center;
    border-bottom: 1px #f2f2f2 solid;
    padding:30rem 20rem ;

}
.ImgBox{
    width: 260rem;
}
img{
    width: 100%;
}
.Title{
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}
.Desc{
    font-size: 10px;
    color:#bbb;
    font-size: 12px;
    padding-right: 40rem;
}
.PriceWrap{
    display: flex;
    justify-content: space-between;
}
.Price{
    font-weight: bold;
    font-size: 18px;
}
.Price::before{
    content: '$';
    font-size: 14px;
}
.count{
    font-size: 12px;
}